<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">{{.Title}}</h2>
        <form action="/login/submit" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Usuário</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text" placeholder="Usuário">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Senha</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" placeholder="Senha">
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Entrar</button>
            </div>
        </form>
    </div>
    <script>
        {{.JS}}
    </script>
</body>
</html>
